body {
  background: #313532;
}
.region {
  fill: red;
}

.st1 {
  fill: red;
}

svg {
  float: left;
}

.gerb {
  height: 150px;
  margin-bottom: 30px;
}

#info {
  margin: 100px 100px 0px 0px;
  float: right;
  width: 500px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #bbbbbb;
}

#info span {
  font-size: 20px;
  color: #e1e1e1;
}
